// Block: footer
.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 18px;
    text-align: center;
  
    // Element: footer__text
    &__text {
      margin: 0;
      font-size: 14px;
    }
  }
  