// Block: header
.header {
    background-color: #007bff;
    color: white;
    padding: 18px;
    text-align: center;
  
    // Element: header__title
    &__title {
      margin: 0;
      font-size: 24px;
    }
  }
  